<div class="centered white-text" style="width:70%">
  <div>
    <table class="table table-striped small">
      <thead>
        <tr>
          <td>
            Logo
          </td>
          <td>
            Name
          </td>
          <td>
            Email
          </td>
          <td>
            Type
          </td>
          <td>
            Description
          </td>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |u| %>

        <tr>
          <td>
            <%= image_tag u.image_url, class: 'logo-s' %><!---->
          </td>
          <td>
            <%= u.username %>
          </td>
          <td>
            <%= u.email %>
          </td>
          <td>
            <%= u.broadcaster_type %>
          </td>
          <td>
            <%= u.description %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>